@charset "utf-8";
/* CSS Document */
body{
	background: Lavender;
}
input:invalid {
	border: 2px dashed red;
}
form
{
	text-align: center;
}

#submit
{
	background: #9D7FBB;
	color: WhiteSmoke;
	border-style: outset;
	border-color:#4F378A;
	height: 50px;
	width: 120px;
	font: bold 16px arial, sans-serif;
	letter-spacing: 1px;
	text-shadow:none;
}
#submit:hover{
	background: #7B55A2;
}
